<!-- Material Toolbar at the top-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="content">
    <p>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Advanced Business Intelligent Technology Solutions</span>
          <div fxShow="true" fxHide.lt-md="true">
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>contact_support</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>work</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </p>
  </div>

<div class="content">
  <div fxLayout="row wrap">
    <div fxFlex="100%">
      <mat-card class="example-card">
        <mat-card-header>
        </mat-card-header>
        <img mat-card-image src="/assets/ABITSlogo.jpg" alt="image">
        <mat-card-content>
          <div class="center">
            <h2>
              <b>
                Automate your business processes with ease at every step of the way.
              </b>
            </h2>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- Our Products: material cards-->
  <mat-card>
    <mat-card-title>Our Products</mat-card-title>
    <br/>
    We develop and cater bespoke intelligent software solutions to establish an easier business process for you- keep it simple, keep it intelligent.
    <br>Stand out from the crowd with personalised technology that transforms your daily operations and products.
    <br/><br/>
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10">
          <div fxFlex="50%">
         <p>Website Development - Professional development to get your website operational and optimized for performance</p><mat-icon>satellite</mat-icon> 
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10">
          <div fxFlex="50%">
         <p>Frontend Designs - Bespoke and original designs for your applications to make your business stand out!</p><mat-icon>assignment</mat-icon> 
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10">
          <div fxFlex="50%">
         <p>System Integration - Engineered solutions to maximise the effectiveness of your system, refactoring of modules</p><mat-icon>settings</mat-icon> 
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10">
          <div fxFlex="50%">
         <p>Backend Architecture - Support for the backend and large volumes of data in real-time with cloud migration </p><mat-icon>settings_input_antenna</mat-icon> 
          </div>
        </div>
      </mat-card-content>
    </mat-card> 
    
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10">
          <div fxFlex="50%">
         <p>Optimizing Business Logic - Efficient and original business logic solutions to streamline your business and product processes</p><mat-icon>business_center</mat-icon> 
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutGap="10">
          <div fxFlex="50%">
         <p>DevOps Solutions - We utilise and suggest various devops tools to empower you to succeed on your journey</p><mat-icon>build</mat-icon> 
          </div>
        </div>
      </mat-card-content>
    </mat-card>      
  </mat-card>

<!--------------------------------->

<!-- <mat-card>
  <mat-card-title>Forward a Message</mat-card-title>
  <br/>
  <mat-card-subtitle>Send us an email for any work or queries and request a demo today!</mat-card-subtitle>
  <mat-form-field appearance="fill">
    <mat-label>Email Address</mat-label>
    <input matInput>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Company</mat-label>
    <input matInput>
  </mat-form-field>
  <br/>
  <mat-form-field class="form-width" appearance="fill">
    <mat-label>Message</mat-label>
    <textarea matInput placeholder="abc"></textarea>
    <input matInput>
  </mat-form-field>
  <mat-card-actions>
    <button mat-button>SUBMIT</button>
  </mat-card-actions>
</mat-card> -->

<!---------------------------------->

<mat-card>
  <mat-card-title>Contact Us</mat-card-title>
  <br/>
  <mat-card-subtitle>
    <mat-icon>email</mat-icon> hello@abits.com
    <br/>
    <mat-icon>phone</mat-icon> +44 1273 864230  
  </mat-card-subtitle>
</mat-card> 